html, body {
	height:100%;
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 1.5em;
    text-align: center;
	color: #FFFFFF;
	
}
#login_but {
	color: #fff;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	display: inline-block;
	text-align: left;
	margin-left: 2px;
	margin-top: 140px;
	margin-bottom: 1px;
}
#login_but:hover  {
	color: #fff;
	text-decoration:none;
	background: #2cbbfd;
	background: -moz-linear-gradient(top,#ffbbfd 0%,#006b9d 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffbbfd),color-stop(100%,#006b9d));
	background: -webkit-linear-gradient(top,#ffbbfd 0%,#006b9d 100%);
	background: -o-linear-gradient(top,#ffbbfd 0%,#006b9d 100%);
	background: -ms-linear-gradient(top,#ffbbfd 0%,#006b9d 100%);
	background: linear-gradient(top,#ffbbfd 0%,#006b9d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbbfd',endColorstr='#006b9d',GradientType=0);
}
#loading_txt{
	margin-top:-50px;
}