#leftdiv
{
	cursor: default;
	/* text-align: left; */
/* 	opacity: 0.5; */
	pointer-events: none;
	z-index: 90;
	position: absolute;
	width:250px;
		height:85%;
    margin-top:25px;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 1.0em;
    text-align: left;
	/* color: #FFFFFF; */
/* 	filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px); */
}
table#wh_info{
		padding-top:15px;
display:block;
}
td{
	/* cursor: default; */
	-webkit-app-region:no-drag;
	/* padding:10px; */
}
td.tableSigCl{
	max-width:20px;
}
td.tdate{
	max-width: 20px;
}
table#destParsed{
	padding-top:5px;
	padding-bottom:5px;
	display:block;
}
.hidden{
	position:absolute;
	height:0px;
}
#staticName0,#staticName1{
/* 	padding: 0px,5px,0px,0px; */
	padding-right: 5px;
	padding-left: 5px;
}
.activeLeft{
    /* padding:10px; */
	margin-top: 1px;
	/* margin-bottom: 1px; */
	text-align: left;
	/* display:inline-block; */
	pointer-events: all;
	/* background: #1A1A1A; */
/* 	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #5C5C5C; */
}
.activeLeft_table{
	margin-top: 1px;
	text-align: left;
	pointer-events: all;
	background: #1A1A1A;
}
.right_button_group {
    position:absolute;
	text-align: right;
	right:10px;
	font-family: Verdana, sans-serif; 
	font-size: 12px;
	text-decoration: none;
    color:#23A4FF;
}
table.sigos {
	width:100%;
	font-family: verdana,arial,sans-serif;
	font-size:0.9em;
	color:#FFFFFF;
}
table.sigos th {
	border-width: 1px;
	padding-right: 10px;	
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 1px;	
	border-collapse: collapse;
}
table.sigos td {
	border-width: 1px;
	padding-right: 1px;	
	padding-left: 1px;
}
div[style="visibility:hidden"]{
	height: 0px;
}
.rightImg:hover {
	display: block;
/*   width: 150px;
  height: 150px;
  margin: 1em auto; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
/*   border: 5px solid #eee; */
  /* box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);   */
	box-shadow:inset 0px 0px 15px 0px blue, 0 0 15px 0px blue;
	/* box-shadow:inset 1px 1px 2px white, 0 0 25px blue, 0 0 5px white; */
	}
.right_button_group:hover {
	cursor:hand;

	color:#06F; 
	}

.rightTooltip {
	text-decoration: none;
	position: relative;
}
.rightTooltip span {
	text-decoration: none;
}
.rightTooltip:hover span {	
	position: absolute; right: 32px; top: -35px; z-index: 99;
	margin-top: 0; 
	text-decoration: none;
}

.rightTooltipInfo{	
	text-align: center;
	padding: 3px 3px 3px 3px;
	margin-top: -999em;
	text-transform: uppercase;
	text-decoration: overline;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #5C5C5C;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#595959),color-stop(100%,#333333));	
}
#remapTool.rightTooltipInfo,#restorerTool.rightTooltipInfo{
	position: absolute; right: 40px; z-index: 102;
}