html, body {
    -webkit-app-region: no-drag;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
}