table#right_panel{
	border-left: 1px solid #FFAD33;
	margin-right:0px;
	right:-1px;
	z-index:111;
	padding:0;
	pointer-events: all;
	position: absolute;
	width:0px;
	display: none;
	background-color:#666633;
	height: 100%;
}
input#totalAngularWidths,input#nodeSize{
	width: 3em;
}

input, select {
    font-size:0.9em;
}
input.jscolor{
    width:20px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

.opt_settings tbody, .opt_settings tr{
	padding: 0px;
}
.text {
    margin: 7px;
}
#sigcountsys tr{
	/* height: 5px; */
}
#sigcountsys,#sigcountsys tr,#sigcountsys td{
	
	font-size:1.0em;
	table-layout: fixed;
	padding:0px;
	cellspacing: 0px;
}
.setDest{
	/* padding-top:7px;	 */
	position: absolute;
	padding:0px;	
	margin-top:-6px;	
	margin-left:-6px;	
	padding-right:3px;	
	cursor:pointer;
}
div.nodeDiv_true{
	border: none;
}
/**************************************************** nodeDiv_true -- general *****************************************************/
/**************************************************** nodeDiv_false -- general *****************************************************/
.nodeDiv_false{
	padding: 3px;
	padding-top: 1px;
	/* font-size:0.9em; */
}
/**************************************************** nameContId *****************************************************/
span#nameContId {
	cursor: pointer;
	font-size: 0.85em;
}
div.nodeDiv_true span.system_label[wh_effect="effect"]{
	border-bottom : 1px dashed;
}
div.nodeDiv_true span#nameContId:hover ~ #eff {
	margin-left: 0;
}

div.nodeDiv_false span#nameContId{
	/* background:black; */
}
div.nodeDiv_false span#nameContId:hover ~ #eff {
	margin-left: 0;
}
/***************************************************** colors tables *****************************************************/
#colors_names {
	padding-top:0px;
	top:0px;
}
#colors_table {
	padding-top:0px;
	top:0px;
}
#colors_names td{
height: 21px;
}
#colors_table td{
height: 21px;
}
/***************************************************** #sigcountsys *****************************************************/
#sigcountsys{
	/* margin-right:0; */
	/* margin-left:auto; */
	margin-left:0;
	margin-right:auto;
	/* align:right; */
	/* position:  */
	text-align:left;
}
/***************************************************** eff *****************************************************/
/* nodeDiv_false - развернутый, true - компактный */
#eff {	
	margin-right: 0;
	margin-left: auto;
	
	white-space: normal;
	border-radius: 4px;  
	padding: 0.3em 0.3em;   
	width: 100px;
	/* color: #fff;  */

}
div.nodeDiv_true span#eff {   
	font-size: 1em;	
	margin-left: -999em;
	border: 1px solid #FFAD33;	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: linear-gradient(top,#262626 0%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626',endColorstr='#1A1A1A',GradientType=0);
	position: absolute; left: -1em; top: 15px; z-index: 99;
}
div.nodeDiv_false span#eff{ 
	text-align: left;
	/* color:#bfbfbf; */
	font-size: 0.8em;	
	box-shadow: none;
	webkit-box-shadow: none;
	background: none;
	border: none;
	margin:0;
	padding:0;
	display: block;
	position: relative;
	left:0;
	top:0;
	z-index: 1;
}

/* div.nodeDiv_false text[wh_color_check='false']{color:#bfbfbf;} */
/* div.nodeDiv_false a[wh_color_check='false']{color:#bfbfbf;} */

text[color_type='C1'][wh_color_check='true']{color:#00FF00;}
text[color_type='C2'][wh_color_check='true']{color:#33CC00;}
text[color_type='C3'][wh_color_check='true']{color:#55BB00;}
text[color_type='C4'][wh_color_check='true']{color:#BB5500;}
text[color_type='C5'][wh_color_check='true']{color:#CC2200;}
text[color_type='C6'][wh_color_check='true']{color:#CC0000;}
text[color_type='Low'][wh_color_check='true']{color:#FFFF00;}
text[color_type='Null'][wh_color_check='true']{color:#6633CC;}
text[color_type='High'][wh_color_check='true']{color:#00CCFF;}
text[color_type='Jita'][wh_color_check='true']{color:#666699;}
text[color_type='Amarr'][wh_color_check='true']{color:#FFFF99;}
text[color_type='Dodixie'][wh_color_check='true']{color:#339966;}
text[color_type='Rens'][wh_color_check='true']{color:#FF6600;}


div.nodeDiv_true #eff:hover  {	
	margin-left: 0;
}
div.nodeDiv_false #eff:hover  {	
	margin-left: 0;
}
#eff:hover {
	margin-left: 0;
}
/***************************************************** char *****************************************************/
#char {
	background:#ff1aff;
}
/* #eff:hover {} */
div.nodeDiv_true span#char {}

div.nodeDiv_true span#char:hover ~ span.pilots_Info {
	margin-left: 0;
}
div.nodeDiv_false span#char {}

div.nodeDiv_false span#char:hover ~ span.pilots_Info {
	margin-left: 0;
}
/***************************************************** locals *****************************************************/

span.locals_Info {
	white-space: normal;
}
span#locals {
	white-space: normal;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	padding:0px;
	/* visibility:hidden; */
}
/***************************************************** pilots_Info *****************************************************/

span.pilots_Info {	
display: inline-block;
	text-align: left;
	margin-left: -999em;
	padding: 0.3em 0.3em;   
	color: #fff; 
	border: 1px solid #FFAD33;
	border-radius: 4px;     
	font-size: 1em;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;		
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: linear-gradient(top,#262626 0%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626',endColorstr='#1A1A1A',GradientType=0);
	position: absolute; left: -1em; top: 15px; z-index: 99;


	width: 140px;
}
div.nodeDiv_true span.pilots_Info:hover {
	margin-left: 0;
}
div.nodeDiv_false span.pilots_Info{
	margin-left: -999em;	
}
div.nodeDiv_false span.pilots_Info:hover {
	margin-left: 0;
}
/***************************************************** sys_custom_name *****************************************************/
span.sys_custom_name {
/* text-transform: uppercase;	 */
display: block;
margin-left: 0px;
	text-align: left;
	padding: 0.1em 0.1em;   
	/* color: #ff1aff;  */
	color: #0099ff; 
	/* border: 1px solid #FFAD33; */
	/* border-radius: 4px;      */
	font-size: 0.9em;	
/* 	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;		
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); */
/* 	background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: linear-gradient(top,#262626 0%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626',endColorstr='#1A1A1A',GradientType=0); */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	position: relative; 
	/* left: 3px; top: 18px; z-index: 85; */


	width: 100px;
}
.sys_custom_name:hover {
	/* margin-left: 0; */
}
/***************************************************** pilots_Info_short *****************************************************/
span.pilots_Info_short {	
display: inline-block;
margin-left: 0px;
	text-align: left;
	padding: 0.1em 0.1em;   
	color: #ff1aff; 
	/* border: 1px solid #FFAD33; */
	/* border-radius: 4px;      */
	font-size: 0.7em;	
/* 	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;		
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); */
/* 	background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: linear-gradient(top,#262626 0%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626',endColorstr='#1A1A1A',GradientType=0); */
	position: absolute; left: -1em; top: 15px; z-index: 85;


	width: 140px;
}
.pilots_Info_short:hover {
	/* margin-left: 0; */
}
/***************************************************** -- *****************************************************/
/* test */
div.nodeDiv_false{
	
	border: 2px solid;
	border-radius: 3px;
	border-spacing: 5px;
	/* width:100px; */
	
	/* background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%); */
	/* background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A)); */
	/* background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%); */
	/* background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%); */
	/* background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%); */
	/* background: linear-gradient(top,#262626 0%,#1A1A1A 100%); */
	
}
#infovis {
  
    /* width:100%; */
    height: 100%;
    overflow:hidden;
}

#hubj,#huba,#habd,#hubr,#hubh{
color: #fff;
}
.numberId{
	
}
#sys_id{
	display:none
}

span#closeBtnID {
	color:#FF5555;
	cursor:pointer;
	font-weight:bold;
	margin-left:3px;
}
div.node {
	display:inline-block;
	white-space: nowrap;
	word-wrap: normal;
}

div.edgeSig1_vis{
	cursor: pointer;
	position: absolute; 
	padding: 10px;
	color: #ffffff; 
	font-size: 13px; 
	background: #000000; 
	z-Index: 9; 
	-webkit-border-radius: 5px;
	border: 1px solid #FFAD33;
}
div.edgeSig1  {
	cursor: pointer;
	position: absolute; 
	padding: 1px;
	color: #ffffff; 
	font-size: 13px; 
	background: #000000; 
	z-Index: 9; 
	-webkit-border-radius: 4px;
	border: 1px solid #FFAD33;
}
div.edgeSig1_vis:hover,
div.edgeSig1:hover {
	display: block;
}
span.setDestClick {
	cursor:pointer;
}
