*,
*::before,
*::after {
box-sizing: border-box;
}

.container {
margin: 0 auto;
padding: 0 24px;
max-width: 350px;
}

/* primary header */

.primary-header {
padding: 0;
text-align: left;
border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
color: #393939;
font-size: 36px;
}

.primary-header__title small {
font-size: 18px;
color: #898989;
}

/* content */

.content {
padding: 0px 0;
border-bottom: solid 2px #cfcfcf;
}

.content__footer {
margin-top: 12px;
text-align: left;
}

/* footer */

.primary-footer {
padding: 0px 0;
color: #898989;
font-size: 14px;
text-align: left;
}

/* tasks */

.menuimg {
margin: 0;
padding-top: 0px;
}
.tasks {
list-style: none;
margin: 0;
padding: 0;
}

.task {
display: flex;
justify-content: space-between;
padding: 0px 0;
border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
border-bottom: none;
}


/* context menu */
.context-menu,
.labelline-menu,
.namecontainer-menu {
font-family: "Lucida Grande", Verdana;
display: none;
position: absolute;
z-index: 999;
padding: 0px 0;
width: 180px;
background-color: #333333;
border: solid 1px #dfdfdf;
box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active,
.labelline-menu--active,
.namecontainer-menu--active {
display: block;
}

.context-menu__items,
.labelline-menu__items,
.namecontainer-menu__items {
list-style: none;
margin: 0;
padding: 0;
}
.lineMenu{
	  height: 17px;
  line-height: 17px;
  vertical-align: middle;
}

.context-menu__item,
.labelline-menu__item,
.namecontainer-menu__item  {
	vertical-align: middle;
	padding-left: 5px;
	padding-top: 2px;
	text-align: left;
	text-align: top;
display: block;
padding-bottom: 4px;
}
.context-menu__item:hover,
.labelline-menu__item:hover,
.namecontainer-menu__item:hover  {
color: #fff;
background-color: #0066aa;
}

.context-menu__item:last-child,
.labelline-menu__item:last-child,
.namecontainer-menu__item:last-child  {
margin-bottom: 0;
}

.context-menu__link,
.labelline-menu__link,
.namecontainer-menu__link {
display: block;
padding: 0px 0px;
color: #FFF;
text-decoration: none;
}

