		

  .select-editable { position:relative; background-color:white; border:solid grey 1px;  width:120px; height:18px; }
  .select-editable select { position:absolute; top:0px; left:0px; font-size:14px; border:none; width:120px; margin:0; }
  .select-editable input { position:absolute; top:0px; left:0px; width:100px; padding:1px; font-size:12px; border:none; }
  .select-editable select:focus, .select-editable input:focus { outline:none; }

.locals_Info {	
	text-align: left;
	margin-left: -999em;
	padding: 0.3em 0.3em;   
	color: #fff; 
	border: 1px solid #FFAD33;
	border-radius: 4px;     
	font-size: 1em;	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;		
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	background: -moz-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#262626),color-stop(100%,#1A1A1A));
	background: -webkit-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -o-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: -ms-linear-gradient(top,#262626 0%,#1A1A1A 100%);
	background: linear-gradient(top,#262626 0%,#1A1A1A 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626',endColorstr='#1A1A1A',GradientType=0);
	position: absolute; left: -1em; top: 15px; z-index: 99;

	max-width: 300px;
}
.locals_Info:hover {
	margin-left: 0;
}